.tableContainer{
    background-color: white;
    border-radius: 20px;
    height: 700px;
    padding: 20px 20px 20px 20px;
    overflow: scroll;
}


table {
    border: 2px solid #0E3386;
    width: 800px;
    height: 200px;
    overflow: scroll;
    border-collapse: collapse;
}

tr{
    overflow:auto;
}


tr:nth-child(even) {
    background-color:  #F4F7FA;
}


/*tr:hover {*/
/*    background-color: red,*/
/*}*/

th {
    border: 1px solid #0E3386;
    background-color: #0E3386;
    border-collapse: collapse;
    padding: 7px;
    font-family: Rubik-SemiBold, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

td {
    text-align: center;
    border: 1px solid #0E3386;
    border-collapse: collapse;
    font-family:Rubik-Regular,sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
}

.selectDivs{
    display: flex;
    align-items: end;
    padding: 20px 20px 20px 20px;
}

.searchInputSmallDiv{
    display:flex;
    flex-direction: column;
    margin-right: 30px;
}

.labelSearchSmall{
    font-family: Rubik-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #0E3386;
    margin-bottom: 10px;
}

.divForCalendar{
    position: relative;
}

.calendarImg{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 16px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.inputSearchSmall{
    padding: 12px 0px 12px 12px;
    width: 360px;
    font-family: Rubik-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    background: #0E3386;
    border: 1px solid #0E3386;
    box-sizing: border-box;
    border-radius: 10px;
    color: white
}

.searchBtn{
    width: 150px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0E3386;
    border: none;
    opacity: 1;
    font-family: Rubik-Regular, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}


